*box-sizing { 
    box-sizing: border-box;
}
html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}
.panel-kiri{
    width: 45%;
    background-color: #1b26f5;
    padding:50px;
    color: #fff;
}
.panel-kanan{
    width: 55%;
    background-color: #fff;
    padding:50px;
}
.container-login{
    justify-content: center;
    
}
.kananform{
    width: 100%;
    max-width: 320px;
    margin-top: 20px;
}

.kanan-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.label{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    text-align: left;
}
.form-input{
    width: 100%;
    padding: 10px 12px;
    border: 1 solid ;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.2;
}
.sumit{
    width: 100%;
    padding: 12px;
    background: #fefeff;
    color: #000000;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.2, box-shadow 0.2s;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0, 0.3);
    
}
.sumit:hover{
    background-color: #1b26f5;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0, 0.4);
}